<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../css/style.css">
		<title>Consulation de notes {etudiant.nom}</title>
	</head>
	<body>
		<div class="container">
			<div class="row profile">
				<div class="col-md-3">
					<div class="profile-sidebar">
						<!-- SIDEBAR USER TITLE -->
						<div class="profile-usertitle">
							<div align="center">
								<img src="../images/user.png" class="center img-responsive img-circle" alt="user" style="width:50%	">
							</div>
							<div class="profile-usertitle-name">
								Nom
							</div>
							<div class="profile-usertitle-job">
								Prénom
							</div>
						</div>
						<!-- END SIDEBAR USER TITLE -->
						<!-- SIDEBAR BUTTONS -->
						<div class="profile-userbuttons">
							<button type="button" class="btn btn-success btn-sm"><i class="glyphicon glyphicon-edit"></i> Editer le profil</button>
							<button type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-envelope"></i> Messages</button>
						</div>
						<!-- END SIDEBAR BUTTONS -->
						<!-- SIDEBAR MENU -->
							<div class="profile-usermenu">
							<ul class="nav">
								<li>
									<a href="profil.html">
									<i class="glyphicon glyphicon-user"></i>
									Mon Profil </a>
								</li>
								<li>
									<a href="messages.html">
									<i class="glyphicon glyphicon-envelope"></i>
									Messages </a>
								</li>
								 
 	 
								<li class="active">
									<a ui-sref="absenceEleve">
									<i class="glyphicon glyphicon-time"></i>
									Absence </a>
								</li>
								<li>
									<a ui-sref="notesEleve">
									<i class="glyphicon glyphicon-stats"></i>
									Consultation de notes </a>
								</li>

								<li>
									<a ui-sref="devoirsEleve">
									<i class="glyphicon glyphicon-calendar"></i>
									Emploi du temps </a>
								</li>

								<li>
									<a ui-sref="devoirsEleve">
									<i class="glyphicon glyphicon-book"></i>
									Devoirs </a>
								</li>

								<li>
									<a ui-sref="controlesEleve">
									<i class="glyphicon glyphicon-education"></i>
									Controle </a>
								</li>

							</ul>
						</div>
						<!-- END MENU -->
					</div>
				</div>
			
				<div class="col-md-9" style="background-color: white">
					<div ng-app="myApp">
							 <h3 class="well">Consulation de notes</h3>
			     		     	
							
							 <label>matiere</label>
							<select  ng-model="matiere" ng-options="i.nomMatiere for i in matieresList" ng-change="getNotesParEleveAndMatiere()"  id="type" name="typeE" class="form-control">
							<option value="" label="--Selectionner leleve--"/>
							</select>	
					 		 <hr>
					 		 
							<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
								<thead>
									<tr>
										<th> Examen N.</th>
										<th> Pourcentage </th>
										<th> Note </th>
										<th> Remarque </th>
										 
									</tr>
								</thead>
								
								<tbody>
									 <tr ng-repeat="note in notesList" >
						                <td>premier</td>
						                <td>pourcentage</td>
						   			 
										<td>{{note.noteExam}}</td>
										<td>{{note.remarque}}</td>
								 
					                 </tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
	</body>
</html>